services:
  web_server:
    # image: nginx:latest
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: web-server
    networks:
      custom_network:
        ipv4_address: 172.20.0.10
    ports:
      - "8080:8080"
    volumes:
      - ./www:/home/web/www
      - ./nginx/default.conf:/etc/nginx/nginx.conf
      - ./log:/home/web/log
    environment:
      - NGINX_USER=web

  php_fpm:
    build:
      context: ./php
      dockerfile: Dockerfile
    container_name: php-fpm
    networks:
      custom_network:
        ipv4_address: 172.20.0.11
    volumes:
      - ./www:/home/web/www
      - ./php/php-fpm.conf:/usr/local/etc/php-fpm.conf
      - ./php/php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf
      - ./log:/home/web/log
    environment:
      - PHP_FPM_USER=web
      - PHP_FPM_GROUP=web

networks:
  custom_network:
    ipam:
      config:
        - subnet: 172.20.0.0/16